.button {
  position: relative;
  outline: none;
  border: none;
  width: 220px;
  height: 55px;
  border-radius: 55px;
  color: #fff;
  font-weight: 600;
  background-color: $blue-color;
  cursor: pointer;
  display: block;
  text-align: center;
  .svg_wrap {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 7.4px;
    right: 5px;
    background: $grey-color;
    svg {
      fill: $blue-color;
    }
  }
}
